body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Previene scroll horizontal */
}

body,
main,
header {
  margin: 0;
  padding: 0;
}
.informacion-contacto {
  text-align: center;
  color: black !important;
}
#alert-container {
  background-color: green;
  border: 8px;
  align-items: center;
}

/* Aumentar tamaño de letra en los placeholders */
#miFormulario input,
textarea,
label {
  font-size: 2rem;
  color: black !important;
}
#miFormulario button {
  font-size: 2rem;
}

.form-control {
  font-size: 1.3rem;
}

/* Correo */
.formbold-form-wrapper {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.formbold-steps .nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.formbold-steps .nav-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  background: #e0e0e0;
  color: #333;
}

.formbold-steps .nav-link.active {
  background: #3a57e8;
  color: white;
}

.formbold-form-input {
  border: 1px solid #dde3ec;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
}

.formbold-form-step-1,
.formbold-form-step-2,
.formbold-form-step-3 {
  display: none;
}

.formbold-form-step-1.active,
.formbold-form-step-2.active,
.formbold-form-step-3.active {
  display: block;
}

#mi_mapa {
  width: 100%;
  height: 400px;
  max-width: 100vw;
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.map-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  #mi_mapa {
    height: 300px;
  }
}

@media (max-width: 480px) {
  #mi_mapa {
    height: 250px;
  }
}
