.product-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  margin: 0;
}

.detalle-imagen {
  margin-top: 5rem;
  max-width: 80%;
  border-radius: 12px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  transition: transform 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.detalle-imagen:hover {
  transform: scale(1.02);
}

.otros-detalles {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  font-size: 3rem;
  margin-top: 6rem;
  gap: 2rem;
}

.justificar {
  text-align: justify;
  font-size: 2.5rem;
  color: black;
  line-height: 1.6;
}

.btn-agregar,
.btn-regresar {
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  margin: 0 10px;
  margin-top: 6rem;
}

.btn-agregar:hover,
.btn-regresar:hover {
  background: #0056b3;
  transform: scale(1.08);
  box-shadow: 0px 5px 15px rgba(0, 91, 187, 0.4);
}

.btn-agregar:active,
.btn-regresar:active {
  transform: scale(1);
  box-shadow: 0px 2px 8px rgba(0, 91, 187, 0.3);
}

@media (max-width: 768px) {
  .product-detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .detalle-articulos .categoria {
    order: -1;
    margin-top: 2px;
    text-align: center;
  }

  .detalle-imagen {
    margin-top: 1rem;
    max-width: 100%;
  }

  .nombre {
    font-size: 1.8rem;
  }

  .precio {
    font-size: 1.6rem;
  }

  .boton-comprar {
    font-size: 1rem;
    padding: 10px 18px;
  }
}
